/* src/components/Nota.module.css */
.nota {
  background-color: var(--ifm-color-info-contrast-background);
  border-left: 4px solid var(--ifm-color-info);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--ifm-alert-border-radius);
  color: var(--ifm-font-color-base);
}

.titulo {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--ifm-color-info-dark);
}

.advertencia {
  background-color: var(--ifm-color-warning-contrast-background);
  border-left: 4px solid var(--ifm-color-warning);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: var(--ifm-alert-border-radius);
  color: var(--ifm-font-color-base);
}

.tituloAdvertencia {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: var(--ifm-color-warning-dark);
}

.contenido {
  margin-bottom: 0;
}
.contenido > :last-child {
  margin-bottom: 0;
}
